body{
background-image: url('images3.jpg');
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
/*margin: 1px 15%;*/
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}